<div class="container mx-auto px-4 py-8 max-w-lg">
  <div class="text-center">
    <h1 class="text-3xl font-display font-bold mb-6">パスワードリセットのご案内</h1>

    <%= form_with url: password_resets_path, method: :post, local: true do |f| %>
      <div class="form-control">
        <div>
          <%= f.label :email, "メールアドレス", class: "label" %>
          <%= f.email_field :email, class: "input input-bordered", required: true %>
        </div>
      </div>

      <div class="mt-6">
        <%= f.submit "案内メールを送信する", class: "btn btn-primary" %>
        <%= link_to "キャンセル", mypage_path, class: "btn btn-ghost" %>
      </div>
    <% end %>
  </div>
</div>
